@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/modern-business.css" rel="stylesheet" />
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="Category" asp-action="Index">HueSpa</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @*<li class="nav-item">
                            <a class="nav-link" href="#">Giới thiệu</a>
                        </li>*@
                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dịch vụ Spa
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" href="#">1 Column Portfolio</a>
                                <a class="dropdown-item" href="#">2 Column Portfolio</a>
                            </div>
                        </li>*@
                    @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Store
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" href="#">Blog Home 1</a>
                            <a class="dropdown-item" href="#">Blog Home 2</a>
                            <a class="dropdown-item" href="#">Blog Post</a>
                        </div>*@
                    </li>
                    @if (signInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin") || User.IsInRole("System Admin"))
                        {
                            <li>
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Management</a>
                            </li>
                        }
                        <li>
                            <form asp-controller="Account" asp-action="LogOut" method="post">
                                <button type="submit" class="btn btn-link text-light" style="width:auto">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
        <div class="container ">
            @RenderBody()
        </div>

        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">
                    <a href="http://www.huespa.somee.com" class="text-white">HUESPA.SOMEE.COM</a> – CHUỖI SPA LÀM ĐẸP HÀNG ĐẦU TẠI VIỆT NAM
                </p>
            </div>
        </footer>
        @RenderSection("Scripts", false);

</body>

</html>
