@model HomeEditViewModel
@{
    ViewBag.Create = "Edit Product";
    var imagePath = $"/images/{(Model.ImagePath ?? "nonavatar.png")}";
    List<Category> categories = ViewBag.Categories;
}
    <div class="col-sm-8 offset-sm-3">
        <form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post" class="mt-2">
            <input hidden asp-for="Id" />
            <input hidden asp-for="ImagePath" />
            <div class="row form-group">
                <div class="col-sm-2">
                    <label asp-for="ProdName"></label>
                </div>
                <div class="col-sm-10">
                    <input asp-for="ProdName" class="form-control" placeholder="Enter Product Name">
                    <span asp-validation-for="ProdName" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-sm-10">
                    <input asp-for="Price" class="form-control" placeholder="Enter Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">
                    <label asp-for="ProdInformation"></label>
                </div>
                <div class="col-sm-10">
                    <textarea asp-for="ProdInformation" class="form-control" placeholder="Enter Information"></textarea>
                    <span asp-validation-for="ProdInformation" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">
                    <label asp-for="CategoryId"></label>
                </div>
                <div class="col-sm-10">
                    <select asp-for="CategoryId" class="custom-select">
                        <option value="">Select a department</option>
                        @if (categories != null)
                        {
                            foreach (var category in categories)
                            {
                                <option value="@category.CategoryId" selected="@(category.CategoryId==Model.CategoryId)">@category.CategoryName</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">
                    <label asp-for="Images"></label>
                </div>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input class="custom-file-input" asp-for="Images">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="row-cols-4 offset-4">
                <img src="@imagePath" class="myImage" id="avatar" asp-append-version="true" />
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </form>
    </div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                $("#avatar").attr("src", window.URL.createObjectURL($(this)[0].files[0]));
            });
        });
    </script>
}